@media(max-width: 450px) {
    body {
        background-color: #fff;
    }

    banner-container {
        display: none;
    }
    
    #main-container, #form-box {
        margin-top: 0;
    }

    #form-container, #form-box, #register-container, #get-app-container {
        width: 100%;
        border: none;
    }

    footer {
        width: 90%;
    }

    #foorter-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer-links {
        margin-bottom: 10px
    }
}